#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
	transition: 0.3s;
  background-color: black;
  border-color:#61dafb;
  margin-top: 10%;
  padding: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	border: 2px solid #61dafb;
  border-radius: 12px;
}

.card .container {
	display: block;
  margin: 10;
}

img {
  margin-top: 12px;
	border-radius: 50%;
	width: 50%;
  height: 50%;
}

.name{
    font-weight: bold;
    color:whitesmoke;
}

.User-info {
  display: inline-block;
  width: auto;
  color: whitesmoke;
  border-radius: 20px;
  padding: 0 30px 30px;
  margin: 0px 20px;
}

/* .contents-item {
  float: left;
  margin-right: 40px;
} */